.card-body{
    background: white;
    color: black;
   
}

.movie{
    transition: 0.3s;
    transition-timing-function: ease-in;
}

.movie:hover{
    filter: drop-shadow(2px 2px 13px var(--text-color));
    transform: translateY(-30px); 
  }

.card-title span{
   font-size: 1rem;
}

.card-title:hover{
        color: var(--link);
        cursor: pointer;
  }
.movie{
    &--description{
        display: -webkit-box;
        max-width: 310px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 300;
    }
    &--score{
    background: var(--text-color);
    color: var(--background-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 10px;
    float: right;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    }
}